/* ---- reset ---- */ 
html,body{ 
    width:100%;
    height:100%;
    margin:0; 
    font-family: 'Pacifico', cursive;
    
    display: flex;
    justify-content:center;
    align-items:center;
  }
  canvas{ 
    display: block;
    vertical-align: bottom;
  }
  /* ---- particles.js container ---- */ 
  #particles-js{ 
    position:absolute; 
    top:0;
    left:0;
    width: 100%; 
    height: 100%; 
    background-color: #041728; 
    background-image: url("https://images.unsplash.com/photo-1513297887119-d46091b24bfa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"); 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: 0; 
    z-index:0;
  }
  .text{
    color:#fff;
    font-size:7vw;
    position:inline-block;
    z-index:1;
    text-align:center;
    cursor:default;
    pointer-events:none;
  }
  
  .follow-me{
  /*   display:fixed;
    top:0;
    left:0; */
    font-size:4vw;
    transform:translateX(100px);
    z-index:2;
  }
  a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    color: rgba(255,255,255,0.8);
  }